button {
  border-radius: 30px;
  border: none;
  inline-size: 67;
  aspect-ratio: 1/1;
  padding: 0;
  font-size: 25px;
  box-shadow: 4px 4px 5px #E0DBCE, -4px -4px 5px #FDFDFD;
  background-color: var(--grey-bg);
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

button:active {
  transform: scale(.9);
}

.number:hover {
  background-color: #e9ecee;
}

.number {
  background-color: var(--grey-bg);
  color: var(--grey20);
  font-weight: 500;
}

.operator {
  background-color: var(--grey);
  color: var(--primary);
  font-weight: 600;
}

.operator:hover {
  background-color: #111C8126;
}

.operator:active {
  background-color: var(--blue2);
}

.subtract img,
.equal img {
  transform: translateY(-5px);
}

.equal {
  background-color: var(--blue);
  color: var(--white);
}

.equal:hover {
  background-color: #2D41F5CC;
}

.others {
  background-color: var(--other);
  color: var(--grey20);
  font-weight: 600;
}

.others:hover{
  background-color: #6277851A;
  color: black;
}

.delete {
  background-color: var(--orange);
  color: var(--white);
}

.delete:hover{
  background-color: #FE9505D9;
}

.back {
  background-color: var(--back);
}

.back:hover{
  background-color: #0000000D;
}