button {
  border-radius: 30px;
  border: none;
  cursor: pointer;
  inline-size: 67;
  aspect-ratio: 1/1;
  padding: 0;
  font-size: 25px;
  box-shadow: 4px 4px 5px #E0DBCE, -4px -4px 5px #FDFDFD;
  background-color: var(--grey-bg);
  font-family: 'Roboto', sans-serif;

}

button:active {
  transform: scale(.9);
}

.number {
  background-color: var(--grey-bg);
  color: var(--grey20);
  font-weight: 500;
}

.operator {
  background-color: var(--grey);
  color: var(--primary);
  font-weight: 600;
}

.subtract img{
  transform: translateY(-5px);
}

.equal {
  background-color: var(--blue);
  color: var(--white);
}

.equal img {
  transform: translateY(-5px);
}

.others {
  background-color: var(--other);
  color: var(--grey20);
}

.delete {
  background-color: var(--orange);
  color: var(--white);
}

.back {
  background-color: var(--back);
}